.AllZodiacBooks{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1517487728715-4713140dcac0?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: 100% 100%;
}

.books{
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}