.Header, .Nav {
    display: flex;
    justify-content: center;
}

.Nav p {
    margin-right: 20px;
    padding: 5px;
    color: white;
}

.Nav p:hover{
    border-bottom: 1px solid white;
}
.Nav{
    background-color: #ffffff17;
}

@media (max-width: 500px) {
    .Nav p{
        font-size: 1em;
        text-align: center;
    }

}